<html>
  <head>
    <title>My Personal Blog</title>
    <!--<link rel="icon" href="resources/images/favicon.ico">-->
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/homepage.css">
    <link rel="stylesheet" href="resources/css/makeItRain.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  </head>
  <body>
    <h1>Welcome to my World!!!</h1>
    <img id="puppyGif" src="resources/images/puppy.gif">
    <div>
      <img id="runningDog" src="resources/images/animated_dog.gif">
      <img id="runningCat" src="resources/images/animated_cat.gif">
    </div>
    <div class="link_group">
      <a class="link" id="home" title="Homepage" href="/">Home</a>
      <a class="link" id="blog" title="My Personal Blog" href="/bio">Blogasaurus</a>
      <a class="link" id="games" title="Game Page" href="/game">Game</a>
      <a class="link" id="survey" title="Survey Page" href="/survey">Survey</a>
    </div>
    <button id="rain">Make it rain!!</button>
    <script src="resources/javascript/makeItRain.js" ></script>
  </body>
</html>
