h1{
  text-align: center;
  -webkit-animation: colorchange 25s infinite;
  background-image: url(http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg);
  padding-top: 25px;
  padding-bottom: 25px;
}

h2{
  text-align: center;
  opacity: 0.5;
}

body{
  background-image: url(https://www.planwallpaper.com/static/images/518164-backgrounds.jpg);
}

.image{
  position: absolute;
}

@-webkit-keyframes colorchange{
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  75%  {color: green;}
  100% {color: red;}
}
